## Coursera Segmenting and Clustering Project
### Scarping the Wikipedia page to create a table for Toronto neighbourhood

1. Install required packages
2. Read in the html page and scrape the table
3. Clean the data by removing 'Not assigned' Borough
4. Remove the data if there's 'Not assigned' value in Neighbourhood
5. Print out the shape

In [ ]:
import pandas as pd
import numpy as np

#!conda install -c conda-forge lxml --yes
#!conda install -c conda-forge html5lib --yes
#!conda install -c conda-forge beautifulsoup4 --yes

In [25]:
#import lxml
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)

In [26]:
df[0].shape

(180, 3)

In [28]:
pddf = pd.DataFrame(df[0])
pddf.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [40]:
pddf[pddf['Borough'] == 'Not assigned'].index

Int64Index([  0,   1,   7,  10,  15,  16,  19,  24,  25,  28,  29,  33,  34,
             35,  37,  38,  42,  43,  44,  51,  52,  53,  60,  61,  62,  69,
             70,  71,  78,  79,  87,  88,  96,  97, 101, 105, 106, 110, 115,
            118, 119, 123, 124, 125, 127, 128, 131, 132, 133, 134, 136, 137,
            140, 141, 145, 146, 149, 150, 154, 155, 158, 159, 161, 162, 163,
            164, 166, 167, 170, 171, 172, 173, 174, 175, 176, 177, 179],
           dtype='int64')

In [50]:
df_clean = pddf.drop(pddf[pddf['Borough'] == 'Not assigned'].index,axis=0).reset_index()
df_clean.head()

,index,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [47]:
df_clean[df_clean['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [48]:
df_clean.shape

(103, 3)